name: Deploy Cloud Functions

on:
  workflow_dispatch:
  push:
    branches: [ release ]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - uses: actions/checkout@v2

    - id: auth
      uses: google-github-actions/auth@v0
      with:
        credentials_json: '${{ secrets.gcp_credentials }}'

    - id: 'deploy'
      uses: 'google-github-actions/deploy-cloud-functions@v0.7.2'
      timeout-minutes: 10
      with:
        name: 'solana-worker'
        runtime: 'nodejs16'
        entry_point: 'main'
        event_trigger_type: 'providers/cloud.pubsub/eventTypes/topic.publish'
        event_trigger_resource: 'projects/carbon-cacao-342313/topics/everyhours'
        env_vars: 'SPREADSHEET_ID=1HWjwozrxuXa6xSgklXMo4kQzVhHxEyX70pBLiv-VAd8'
        secret_environment_variables: 'NODERPC_ENDPOINT=projects/674562769994/secrets/getBlockURL,OWNER_PUBKEY=projects/674562769994/secrets/wataru_pubkey'
